<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="webedit:new" type="Sitecore.Shell.Applications.WebEdit.Commands.New, Sitecore.ExperienceEditor">
        <patch:attribute name="type">Sitecore.Support.Shell.Applications.WebEdit.Commands.New, Sitecore.Support.202206</patch:attribute>
      </command>      
    </commands>

    <experienceEditorDecodeNames>
      <replace mode="on" find="%C6" replaceWith="Æ" />
      <replace mode="on" find="%C5" replaceWith="Å" />
      <replace mode="on" find="%D8" replaceWith="Ø" />
      <replace mode="on" find="%E6" replaceWith="æ" />
      <replace mode="on" find="%E5" replaceWith="å" />
      <replace mode="on" find="%E5" replaceWith="å" />
      <replace mode="on" find="%F8" replaceWith="ø" />
    </experienceEditorDecodeNames>

    <encodeNameReplacements>
      <replace mode="on" find="æ" replaceWith="ae" />
      <replace mode="on" find="ø" replaceWith="oe" />
      <replace mode="on" find="å" replaceWith="aa" />
      <replace mode="on" find="Æ" replaceWith="Ae" />
      <replace mode="on" find="Ø" replaceWith="Oe" />
      <replace mode="on" find="Å" replaceWith="Aa" />
    </encodeNameReplacements>
  </sitecore>
</configuration>